:root {
  --jt-teal: #004F4D;
  --jt-teal-light: #9dfdf8;
  --jt-teal-lighter: #c6f7f3;
  --jt-gold: #ffb70f;
  --jt-purple: #400036;
  --jt-purple-light: #ba5d86;
  --jt-offwhite: #fdfdfd;
  --jt-lightgrey: #e9e9e9;
  --jt-fire: #e63946;
}

/* Text color utilities */
.has-text-jt-teal {
  color: var(--jt-teal) !important;
}
.has-text-jt-teal-light {
  color: var(--jt-teal-light) !important;
}
.has-text-jt-teal-lighter {
  color: var(--jt-teal-lighter) !important;
}
.has-text-jt-purple {
  background-color: var(--jt-purple) !important;
}
.has-text-jt-purple-light {
  background-color: var(--jt-purple-light) !important;
}
.has-text-jt-gold {
  color: var(--jt-gold) !important;
}
.has-text-jt-offwhite {
  color: var(--jt-offwhite) !important;
}
.has-text-jt-lightgrey {
  color: var(--jt-lightgrey) !important;
}
.has-text-jt-fire {
  color: var(--jt-fire) !important;
}
/* Background color utilities */
.has-background-jt-teal {
  background-color: var(--jt-teal) !important;
}
.has-background-jt-teal-light {
  background-color: var(--jt-teal-light) !important;
}
.has-background-jt-teal-lighter {
  background-color: var(--jt-teal-lighter) !important;
}
.has-background-jt-purple {
  background-color: var(--jt-purple) !important;
}
.has-background-jt-purple-light {
  background-color: var(--jt-purple-light) !important;
}
.has-background-jt-gold {
  color: var(--jt-gold) !important;
}
.has-background-jt-fire {
  background-color: var(--jt-fire) !important;
}

/* Fonts and text decor - FONT SELECTORS HAVE TO BE ELEMENT SPECIFIC AT LEAST TO OVERRIDE BULMA */
.outlined-text {
  text-shadow:
    -0.6px -0.6px 0 rgb(0, 63, 44),
     0.6px -0.6px 0 rgb(0, 63, 44),
    -0.6px  0.6px 0 rgb(0, 63, 44),
     0.6px  0.6px 0 rgb(0, 63, 44);
}

h1 {
  font-family: 'Great Vibes', cursive;
  letter-spacing: 7px;
  margin-bottom: 0.5em;
  color: var(--jt-teal-light) !important;
  text-shadow: 3px 3px 3px rgb(0, 29, 22);
  backdrop-filter: blur(1px);
  border-radius: 80px;
}

body, p, .subtitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: var(--jt-offwhite);
}

a.navbar {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  letter-spacing: 0.2em;
  color: var(--jt-teal-light) !important;
}

.hero-title {
  font-size: clamp(2.8rem, 5vw, 6rem);
}

/* Hero and Form Buttons */
#herobutton {
  font-weight: bold;
  letter-spacing: 0.1em;
  transition: color 0.5s ease, background-color 0.5s ease, box-shadow 0.3s ease;  
  background-color: #4ceee6ce;
  color: var(--jt-purple);
  box-shadow: 2px -2px 6px 1px var(--jt-purple-light);
  border-radius: 5px;
}

#herobutton:hover {
  color: black;
  background-color: var(--jt-teal-light);
  box-shadow: -1px 1px 6px 1px #65edffb4;
}

#formbutton {
  font-family: 'Great Vibes', cursive;
  letter-spacing: 0.1em;  
  background-color: #ac034cab;
  transition: color 0.5s ease, background-color 0.5s ease, box-shadow 0.3s ease;
  padding-bottom: 5px;
  box-shadow: 2px -2px 6px 1px var(--jt-purple-light);
}

#formbutton:hover {
  color: var(--jt-teal-light);
  background-color: #a10a4b;
  box-shadow: -2px 2px 6px 1px #65edffb4;
  
}

/* Text Box styling */
.box-transparency {
  background-color: #40003649;
  backdrop-filter: blur(0.8px);
  margin: 0 auto;
  padding: 7px;
  width: 85%;
  border-radius: 20px;
}

.roundedsmall {
  border-radius: 8px;
}

.fullshadow {
  box-shadow: 0 0 10px 0 rgba(116, 255, 232, 0.377);
}

/* Heading underline */
.line-title::after {
  content: "";
  display: block;
  height: 2px;
  width: 120px;
  background: linear-gradient(to right, var(--jt-purple-light), var(--jt-teal-light));
  margin: 0.75rem auto 1.25rem;
}

.line-title-above::before {
  background: var(--jt-purple-light);
  display: block;
  content: "";
  height: 1px;
  width: 120px;
  margin: 15px auto 20px;
  position: relative;
}

/* Footer Line */
.line-long::before {
  background: linear-gradient(to right, var(--jt-purple-light), var(--jt-teal-light));
  display: block;
  content: "";
  height: 1px;
  margin: 15px auto 20px;
  position: relative;
}

/* Section Colorline */
#colorline {
  height: 10px;
  margin: 0;
  padding: 0;
}

#colorline .column {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Star Line animation*/
.line-starleft,
.line-starright {
  display: inline-block;
  position: relative;
  width: 80px;
  max-width: 15%;
  height: 2px;
  margin: 5px 8px;
  opacity: 0;
  transition: transform 1s ease-out, opacity 1s ease-out;
}

.line-starleft {
  background: linear-gradient(to left, var(--jt-purple-light), var(--jt-teal-light));
  transform: translateX(-100vw);
}

.line-starright {
  background: linear-gradient(to right, var(--jt-purple-light), var(--jt-teal-light));
  transform: translateX(100vw);
}

/* Animation Trigger State  */
.animate-in .line-starleft,
.animate-in .line-starright {
  transform: translateX(0);
  opacity: 1;
}

.line-wrapper {
  overflow-x: hidden;
  position: relative; /* Ensure the contained elements are positioned relative to this */
}

/* Make star lines and icons ignore pointer/touch events */
.line-starleft,
.line-starright,
.line-wrapper,
.line-wrapper .icon {
  pointer-events: none;
}

/* Nav Bar*/
.navbar.customnav {
  background-color: #400036cb;
  backdrop-filter: blur(2px);
  box-shadow: 0 5px 10px rgba(61, 255, 213, 0.103);
}

.navbar-menu {
  max-height: 0;
  opacity: 0;
  transform: translateY(-10px) translateX(10px);
  transition: all 0.4s ease;
  z-index: 999;

}

@media (min-width: 1024px) {
  .navbar-menu {
    max-height: none;
    opacity: 1;
    transform: none;
    background: none;
    box-shadow: none;
    width: auto;
  }
}

.navbar-menu.is-active {
  background-color: #400036cb;
  backdrop-filter: blur(2px);
  position:absolute;
  right: 0;
  width: 33vh;
  max-width: 400px;
  text-align: center;  
  box-shadow: 0 5px 10px rgba(61, 255, 213, 0.103);
  overflow: hidden;
max-height: 300px;
opacity: 1;
transform: translateY(0) translateX(0px);
}

/* Force navbar brand and item containers to match height */
.logo-container {
  height: 50px; 
}

.logo-container:hover {
  background-color: transparent;
}

img.navbar-logo {
  max-height: 50px;
}

.nav-links a {
  color: var(--jt-teal-lighter);
  text-decoration: none;
  transition: color 0.5s ease;
}

.nav-links a:hover {
  color: var(--jt-purple-light);
  background-color: #40003600;
  border-radius:  10px;

}

.navbar-burger {
  color: var(--jt-purple-light);
}

.navbar-burger:hover {
  color: var(--jt-teal-lighter);
  background-color: inherit;
}

.navbar-burger:hover span {
  color: var(--jt-teal-lighter); /* slightly lighter on hover */
} 

.navbar-burger.is-active span {
  color: var(--jt-purple-light); /* different color when open */
}

.navbar-burger.is-active:hover span {
  color: var(--jt-teal-lighter); /* different color when open */
}

.nav-dot {
  margin: 0 0.5rem;
  color: var(--jt-purple-light); /* Or whatever color suits */
}

/* Hero background */
.hero {
  padding-top: 6rem;
  position: relative;
  background: url(images/hero-logan-juggling-clubs.webp) 20% / cover;
  background-attachment: fixed; 
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  z-index: 0;
}

.hero-body {
  position: relative;
  z-index: 1;
}

/* Gradient Background*/
.gradient {
  background-image: linear-gradient(
    310deg,
    hsl(183deg 51% 16%) 1%,
    hsl(193deg 38% 19%) 23%,
    hsl(203deg 31% 21%) 32%,
    hsl(214deg 27% 23%) 38%,
    hsl(224deg 24% 25%) 43%,
    hsl(235deg 22% 27%) 47%,
    hsl(245deg 22% 28%) 51%,
    hsl(252deg 24% 29%) 55%,
    hsl(257deg 26% 29%) 59%,
    hsl(262deg 29% 30%) 63%,
    hsl(265deg 31% 30%) 68%,
    hsl(268deg 32% 31%) 73%,
    hsl(270deg 34% 31%) 81%,
    hsl(272deg 36% 32%) 100%
  );
}

/* Stripes Background */
.stripes {
  width: 100%;
  height: 100%;
  position: relative;
  background: #1e1e2f; /* Darker background for better contrast */
  overflow: hidden;
}

.stripes::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at top left,
    rgba(255, 120, 150, 0.6) 10%,
    transparent 50%
  ),
  radial-gradient(
    circle at bottom right,
    rgba(120, 200, 255, 0.6) 10%,
    transparent 50%
  ),
  repeating-linear-gradient(
    45deg,
    rgba(200, 100, 255, 0.3),
    rgba(200, 100, 255, 0.3) 30px,
    transparent 30px,
    transparent 60px
  );
  z-index: 0;
}

/* Performances gallery */
figure {
  position: relative; /* Establish a positioning context */
  overflow: hidden; /* Ensure content doesn't overflow */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 15px;
  box-shadow: -2px -2px 8px 2px var(--jt-purple-light);
}


figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2); /* Optional: Add a background for better readability */
  opacity: 1; /* Start hidden */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition */
  pointer-events: none; /* Allow clicks to pass through */
  border-radius: 10px; /* Match the border-radius of the image */
}

figure:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 8px 2px #65edffb4;
}

figure:hover figcaption {
  opacity: 0; /* Show caption on hover */
  transform: scale(1.05); /* Scale the caption along with the figure */
}

.clickable-image {
  cursor: pointer;
}

.clickable-image:hover {
  filter: brightness(1.1);
}

/* gallery Images*/
div.gallery figure img {
  max-height: 12em;
  object-fit:cover;
}

/* Modal */
/* Make modal image bigger */
#imageModal .modal-content {
  position: relative;
  width: 95vw;
  height: 95vh;
  max-width: none;
  max-height: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#imageModal img {
  max-width: 90vw;
  max-height: 90vh;
  object-fit: contain;
  border-radius: 8px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
}

/* modal prev and next buttons */
.modal-prev,
.modal-next {
  font-size: 5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 0.5rem;
  z-index: 1001;
  color: white; /* since you're using has-text-white in Bulma */
}

.modal-prev {
  left: 1rem; 
}

.modal-next {
  right: 1rem; 
}

@media (max-width: 768px) {
  .modal-prev,
  .modal-next {
    font-size: 3rem;
  }

  .modal-prev {
    left: 5%;
  }

  .modal-next {
    right: 5%;
  }
}

.modal-click-zone {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40%;
  z-index: 1002;
  cursor: pointer; /* Just behind the arrows */
}

.modal-click-prev {
  left: 0;
}

.modal-click-next {
  right: 0;
}

.modal-image-wrapper {
  position: relative;
  display: inline-block;
  object-fit: contain;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 1050;
}

.zoom-animate {
  transform: scale(0.8);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.zoom-animate.show {
  transform: scale(1);
  opacity: 1;
}

/* Experience background */
.experienceimg {
  position: relative;
  background: url(images/experience-fire-sword.webp) center no-repeat;
  background-attachment: fixed; 
  background-size: cover;
}

.experienceimg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 0;
}

.experienceimg-body {
  position: relative;
  z-index: 1;
}

/* Testimonial background */
.testimonialimg {
  position: relative;
  background: url(images/testimonial-acrobatic-halftime-show.webp) center no-repeat;
  background-attachment: fixed; 
  background-size: cover;
}

.testimonialimg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  z-index: 0;
}

.testimonialimg-body {
  position: relative;
  z-index: 1;
}

/* Testimonial Carousel */
#testimonialText,
#testimonialAuthor {
  transition: opacity 0.4s ease-in-out;
}

/* Footer social icons*/
.example-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.example-2 .icon-content a:hover {
  color: white;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="facebook"] .filled,
.example-2 .icon-content a[data-social="facebook"] ~ .tooltip {
  background-color: #3b5998;
}
.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}
.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
  background-color: #ff0000;
}

/* Footer*/
footer.paddingsmall {
  padding-bottom: 4px;
}